*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-weight: 400;
}

body, input{
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;

  &.list-inline{
    display: flex;
  }
}

.flex-box{
  display: flex;
}

a{
  text-decoration: none;
  color: inherit;
}
