.hero{
  @include center-container($mainContainer);
  padding-bottom: 30px;

  // BACKGROUNDS and TEXT block
  .block{
    align-items: center;
    padding: 50px 0;
  }
  // /BACKGROUNDS and TEXT block

  // HERO BACKGROUNDS
  .block-img{
    flex-basis: 50%;
    position: relative;

    .main-img{
      position: relative;
      left: calc(100% - 450px);
      height: 450px;
      width: 450px;
      background-image: url('../img/about-me-profile.jpg');
      background-size: cover;
      border-radius: 50%;
      overflow: hidden;
    }

    & > img{
      height: 200px;
      &.pattern-left{
        position: absolute;
        left: 0;
        top: 30%;
      }

      &.pattern-right{
        position: absolute;
        right: 50px;
        bottom: 0;
      }
    }
  }
  // /HERO BACKGROUNDS

  // HERO TEXT
  .block-text{
    flex-basis: 50%;
    margin-right: 30px;
    h1{
      font-size: 36px;
      color: $blue400;
      font-weight: 600;
      line-height: 50px;
    }

    & > a.button i {
      margin-right: 10px;
    }

    p{
      margin: 15px 0 30px;
      font-weight: 500;
      color: $grey400;

      &.questions{
        font-size: 14px;
        & > a{
          color: $blue200;
          font-weight: 600;
          font-size: 16px;
          padding-bottom: 3px;
          border-bottom: 1px solid $grey200;
          &:hover{
            color: $blue400;
          }
        }
      }
    }
  }
  // HERO TEXT

  // LOGHI BRAND PARTNER
  .partners-logo{
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    img{
      margin: 20px 0;

      &:not(:first-child){
        margin-left: 50px;
      }
    }
  }
  // /LOGHI BRAND PARTNER
}
