.smart-tutoring{
  .container{
    @include center-container-pY($mainContainer, 80px);
  }

  // smart tutoring app BENEFITS
  .benefits{
    margin: 50px 0;
    justify-content: space-between;
  }

  .benefits li{
    min-height:100px;
    min-width:100px;
    flex-basis: (100% / 3);
    margin: 0 20px;

    & > * {
      margin-bottom: 20px;
    }

    & h4{
      font-size: 16px;
    }

    & p{
      font-size: 14px;
    }

    & a{
      font-weight: 600;
      color:  $grey400;
      font-size: 12px;

      &:hover{
        color: $blue400;
      }
    }
  }
  // /smart tutoring app BENEFITS

  // guide book
  // .guide-book{
  //   min-height: 500px;
  //   background-color: pink;
  // }

  // /guide book

}
