.best-blogs{
  background-color: $grey200;
  .container{
    @include center-container-pY($mainContainer, 80px);
  }

  // most viewed
  .most-viewed{
    flex-basis: 40%;

    & ul li{
      color: $primaryColor;
      font-size: 10px;
      font-weight: 600;
      margin: 10px 0;
      display: flex;

      & span{
        margin-right: 10px;
      }
    }
  }
  // most viewed

  // BLOGS
  .blogs-cards{
    flex-basis: 60%;
  }

  .blog{
    width: 50%;
    margin: 0 15px;
    min-height: 100px;
    background-color: #fff;

    & img{
      width: 100%;
    }

    .blog-text{
      padding: 20px;
    }

    .blog-info li{
      margin-right: 15px;
    }

    .blog-info li, .blog-info li > *{
      color: $mainTextColor;
      font-size: 10px;
      display: inline-block;
    }
  }
  // /BLOGS
}
