header{
  box-shadow: 0 2px 3px $grey200;
  background-color: #fff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index:100;
  top: 0;

  // Full nav bar
  .nav-bar{
    height: $navBarHeight;
    justify-content: space-between;
    align-items: center;
    @include center-container($mainContainer);
  }
  // Full nav bar

  // LOGO
  .logo{
    height: 40%;

    img{
      height: 100%;
    }
  }
  // LOGO

  // Right nav bar
  .nav-right{
    align-items: center;

    // bar menu-link, profile, search-input
    .menu-bar > li{
      position: relative;

      &:hover .hidden-list{
        display: block;
      }
    }

    a{
      font-size: 12px;
      color: $black200;
      min-height: $navBarHeight;
      font-weight: 600;
      display: flex;
      align-items: center;
      overflow: hidden;
      padding: 10px 15px;

      &.menu-title{
        height: $navBarHeight;

        & > i{
          margin: 0 5px;
        }
      }

      &:hover{
        color: $blue200;
      }

      // link PROFILE
      &.profile{
        font-size: 18px;
        padding: 0;
        padding-right: 15px;
      }
    }

    .hidden-list{
      list-style: none;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      display: none;
      width: 250px;
      background-color: #fff;

      & > li{
        box-shadow: 2px 0 5px $grey200;
      }
    }
    // /bar menu-link, profile, search-input

    // SEARCH input/ button
    .search{
      height: $navBarHeight;
      padding: 10px 0;
      max-width: 150px;
      align-items: center;

      & input, & button{
        height: 30px;
        border: 0;
        background-color: $grey200;
        font-size: 12px;
      }

      input{
        padding: 0 10px;
        max-width: calc(100% - 30px);
      }

      button{
        width: 30px;
        color: $blue200;

        &:hover{
          background-color: $blue200;
          color: $grey200;
        }
      }
    }
    // SEARCH input/ button
  }
  // Right nav bar
}
