header{
  box-shadow: 0 5px 10px #f6f3f5;
  height: $navBarHeight;

  .nav-bar{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    @include center-container($mainContainer);
  }

  // LOGO
  .logo{
    height: 40%;

    img{
      height: 100%;
    }
  }
  // LOGO

  // bar menu-link, profile, search-input
  .nav-right{
    align-items: center;

    .menu-bar > li{
      position: relative;

      a{
        display: flex;
        align-items: center;
        min-height: $navBarHeight;
        overflow: hidden;
        padding: 10px;

        &.menu-title{
          height: $navBarHeight;
        }

        &.menu-title > i{
          font-size: 12px;
          margin: 0 5px;
        }

        &:hover{
          background-color: #f6f3f5;
        }
      }

      .hidden-list{
        list-style: none;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        display: none;
        width: 250px;
        box-shadow: 5px 5px 10px #f6f3f5;
      }


      &:hover .hidden-list{
        display: block;
      }
    }

    input{
      max-width: 30px;
    }
  }
  // /bar menu-link, profile, search-input

}
