
h2{
  color: $primaryColor;
}

h3.subtitle{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: $mainTextColor;
  margin-bottom: 10px;
}

h4{
  color: $primaryColor;
  font-weight: 600;
  font-size: 14px;
}

p{
  color: $mainTextColor,
}

.text-capitalize, h2{
  text-transform: capitalize;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}
