// dimensioni fisse
$mainContainer: 1000px;
$navBarHeight: 50px;

// dimensioni fisse

//color:
$black200: #2c3837;
$blue200: #25ab94;
$blue400: #3F3A64;

// grey font
$grey400: #8C89A2;
// /grey font
$grey200: #e0e0e0;
$grey100: #f6f3f5;
