// fixed sizes
$mainContainer: 1000px;
$navBarHeight: 50px;
// /fixed sizes

// colors
$black200: #2c3837;

$blue100: #f5f7fa;
$primaryColor: #3F3A64;
$secondaryColor: #EF6F31;

// grey font
$mainTextColor: #8C89A2;
// /grey font
$grey200: #f5f1ed;
$grey100: #f6f3f5;
// /colors
